{% extends 'main_page.html' %}

{% block title %}
    <title>Page with deals</title>
{% endblock %}

{% block user %}
{% endblock %}

 {% block content %}

    <h2>Последние сделки ({{ user }})</h2>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Название</th>
                <th>Стадия</th>
                <th>Сумма</th>
                <th>Дата создания</th>
                <th>Ссылка на объект сделки</th>
            </tr>
        </thead>
        <tbody>
            {% for deal in deals %}
            <tr>
                <td>{{ deal.TITLE }}</td>
                <td>{{ deal.STAGE_ID }}</td>
                <td>{{ deal.OPPORTUNITY }}</td>
                <td>{{ deal.DATE_CREATE|slice:":10" }}</td>
                <td><a href={{deal.UF_CRM_1753952380740}}>{{ deal.UF_CRM_1753952380740 }}</a></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">Сделок не найдено</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

 {% endblock %}